@import "variables";
@import "mixin";

$colorDiv: yellow;

.contenedor{
    div{
        width: 50px;
        color: red;
        h1{
            color: $varColor;;
            font-size: 30px;
        }
        a{
            @include ejmixin(red,5px,bold);
        }
    }
}