body {
   background-image: url("back2.jpeg");
   background-size: 100%;
   font-family: 'Russo One', sans-serif; 
}
.principal {
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 1%;
}
.principal header {
    color: white;
    font-size: 35px;
    font-weight: bold;  
    text-align: right;
    background-image: url("back1.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
    padding: 35px 10%;
    background-position-x: 87%;
    margin-bottom: 3%;
}
.principal header p {
    margin: 0;
}
.principal header p > span {
    color: red;         
}
/* section{
    overflow: auto;
}

section div{
    float: left;
    width: 30%;
    line-height: 25px;
    border: 2px;
    border-right: dotted;
    padding-left: 1%;
    padding-right: 1%;
    } */
.contenedor {
    display: flex;
    justify-content: space-between;

}
.contenedor > article{
    width: 33%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}
.contenedor article h3 {
    color: white;
    margin: 0;
    padding: 4%;
}

/* subtitulos y bordes*/
#personajes{   
    border-right: dotted red;
}
#casting{
    border-right: dotted blue;
}
#rodaje{
    border: none;
}
#personajes > h3 {
    background-color: red;
}
#casting > h3 {
    background-color:blue;
}
#rodaje > h3{
    background-color: green;  
}
ul{
    list-style: none;
    padding: 0;
}
/* #mark > ul{
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: white;
}
#mark:hover > ul
{    visibility: visible; 
} */